@inject NavigationManager Navigation

@typeparam Cipher_TItem

<ResourceForm @ref="ResourcePage" Title="@NavLink?.Name">
    @RenderChosenCard()
    <CipherJsonCheck JsonValue="@JsonRequest" />
    <CipherSubmit Click="Submit" Valid="@Valid" ErrorMessage="@ErrorMessage" @ref=submission Visible="@(ChosenObject != null)" />
</ResourceForm>

@code {
    /// <summary>
    /// Is form valid for submission.
    /// </summary>
    [Parameter]
    public bool Valid { get; set; } = true;

    /// <summary>
    /// Page nav link.
    /// </summary>
    [Parameter]
    public MySubNavLink? NavLink { get; set; }

    /// <summary>
    /// Json request that will be sent to the API server.
    /// </summary>
    [Parameter]
    public string? JsonRequest { get; set; }

    /// <summary>
    /// Error message upon improper submission.
    /// </summary>
    [Parameter]
    public string? ErrorMessage { get; set; }

    /// <summary>
    /// API result to submission. Empty if the submission was unsuccessful.
    /// </summary>
    [Parameter]
    public Cipher_TItem? Result { get; set; }

    /// <summary>
    /// API response to submission.
    /// </summary>
    [Parameter]
    public ErrorResponse Error { get; set; } = ErrorResponse.Success;

    /// <summary>
    /// Chosen object upon searching
    /// </summary>
    [Parameter]
    public Cipher_TItem? ChosenObject { get; set; }

    private CipherSubmit submission = new();
    private ResourceForm ResourcePage = new();

    private UnitRequest unitRequest = UnitRequest.Empty();
    private CategoryRequest catRequest = CategoryRequest.Empty();
    private VesselRequest vesRequest = VesselRequest.Empty();

    private CipherUnitCard unitCard = new();
    private CipherVesselCard vesCard = new();
    private CipherSystemCard sysCard = new();
    private CipherPackageCard packCard = new();
    private CipherProcessCard procCard = new();
    private CipherCategoryCard catCard = new();


    /// <summary>
    /// Chosen objects mapping dictionary
    /// </summary>
    private Dictionary<Type, Func<object?>>? chosenObjectMap;

    private Cipher_TItem? OriginalObject;

    protected override void OnInitialized()
    {
        SetChosenObjMap();
        (ChosenObject, Error) = ResourcePage.GetObjectFromUrl<Cipher_TItem>(Navigation);
        OriginalObject = ChosenObject;
    }

    public void SetChosenObjMap()
    {
        chosenObjectMap = new Dictionary<Type, Func<object?>>
            {
            { typeof(Unit), () => unitCard.ChosenObject },
            { typeof(Vessel), () => vesCard.ChosenObject },
            { typeof(StorageSystem), () => sysCard.ChosenObject },
            { typeof(Package), () => packCard.ChosenObject },
            { typeof(ProcessDefinition), () => procCard.ChosenObject },
            { typeof(Category), () => catCard.ChosenObject },
            };
    }

    /// <summary>
    /// Get the chosen object based on its type.
    /// </summary>
    private Cipher_TItem? GetChosenObject()
    {
        return chosenObjectMap.TryGetValue(typeof(Cipher_TItem), out var chosenObjectFunc) ?
        (Cipher_TItem?)chosenObjectFunc?.Invoke() : default;
    }

    /// <summary>
    /// Retrieve the object's ID for URL changes.
    /// </summary>
    private string? GetObjectId(object? obj) => (obj as Resource)?.Id;

    /// <summary>
    /// Changes URL to include the chosen-package id, upon searching it within the page.
    /// </summary>
    public void ChangeUrl()
    {
        ChosenObject = GetChosenObject();
        OriginalObject = ChosenObject;
        ResourcePage.ChangeUrl(Navigation, NavLink, GetObjectId(ChosenObject));
    }

    /// <summary>
    /// Method to fill in the request and check it before submission.
    /// </summary>
    /// <returns></returns>
    private Tuple<bool, string> HandleSubmissionRequest()
    {
        if (typeof(Cipher_TItem) == typeof(Unit))
        {
            unitRequest = unitCard.Value();
            return unitRequest.Check();
        }
        else if (typeof(Cipher_TItem) == typeof(Category))
        {
            catRequest = catCard.Value();
            return catRequest.Check();
        }
        else if (typeof(Cipher_TItem) == typeof(Vessel))
        {
            vesRequest = vesCard.Value();
            return vesRequest.Check();
        }

        return new Tuple<bool, string>(true, string.Empty);
    }

    /// <summary>
    /// Method for submitting checked request, or showing errors within the checking process.
    /// </summary>
    public void Submit()
    {
        Valid = true;
        var requestCheck = HandleSubmissionRequest();

        if (!requestCheck.Item1)
        {
            Valid = false;
            ErrorMessage = $"שגיאה בטופס. שגיאה ב{requestCheck.Item2}.";
        }

        SendRequest();
        UpdateSubmissionSummary();
    }

    /// <summary>
    /// Send request to API
    /// </summary>
    public void SendRequest()
    {
        if (!Valid) return;

        Cipher_TItem? ResultObject = GetChosenObject();

        if (ResultObject is null)
        {
            Valid = false;
            ErrorMessage = "לא נבחר אובייקט לעדכון.";
            return;
        }

        // find the appropriate type, and then check if some details were changed relatively to the original object.

        bool FoundUnitChanges() => FoundChanges(unitRequest.Compare(OriginalObject as Unit));
        bool FoundCategoryChanges() => FoundChanges(catRequest.Compare(OriginalObject as Category));
        bool FoundVesselChanges() => FoundChanges(vesRequest.Compare(OriginalObject as Vessel));

        if (typeof(Cipher_TItem) == typeof(Unit))
        {
            HandleRequest(() => FoundUnitChanges(), () => SendUnitRequest());
        }
        else if (typeof(Cipher_TItem) == typeof(Category))
        {
            HandleRequest(() => FoundCategoryChanges(), () => SendCategoryRequest());
        }
        else if (typeof(Cipher_TItem) == typeof(Vessel))
        {
            HandleRequest(() => FoundVesselChanges(), () => SendVesselRequest());
        }

        if (Error != ErrorResponse.Success)
        {
            Valid = false;
            ErrorMessage = Error.Message;
        }
    }

    private void UpdateSubmissionSummary()
    {
        submission.Valid = Valid;
        submission.ErrorMessage = ErrorMessage;
    }

    /// <summary>
    /// Method to check if there were changed in the object, and then sending its request to API.
    /// </summary>
    /// <param name="hasChanges">method to check if the request is different from the original object</param>
    /// <param name="sendRequest">method to send the request to the API</param>
    private void HandleRequest(Func<bool> hasChanges, Func<Tuple<Cipher_TItem, ErrorResponse>?> sendRequest)
    {
        if (!hasChanges()) return;

        var requestResult = sendRequest();
        if (requestResult != null)
        {
            (Result, Error) = requestResult.ToValueTuple();
        }
    }

    /// <summary>
    /// Make form invalid if no difference was found between the original object and the request.
    /// </summary>
    /// <param name="different">Check result</param>
    /// <returns></returns>
    private bool FoundChanges(bool different)
    {
        if (!different)
        {
            Valid = false;
            ErrorMessage = "אין שינוי בפרמטרים";
        }
        return different;
    }

    public Tuple<Cipher_TItem, ErrorResponse>? SendUnitRequest()
    {
        JsonRequest = unitRequest.ToJson();
        return (Tuple<Cipher_TItem, ErrorResponse>)(object)UnitsRequests.UpdateUnit((OriginalObject as Unit)?.Id, unitRequest);
    }

    private Tuple<Cipher_TItem, ErrorResponse>? SendCategoryRequest()
    {
        JsonRequest = catRequest.ToJson();
        return (Tuple<Cipher_TItem, ErrorResponse>)(object)CategoriesRequests.UpdateCategory((OriginalObject as Category)?.Id, catRequest);
    }

    private Tuple<Cipher_TItem, ErrorResponse>? SendVesselRequest()
    {
        JsonRequest = vesRequest.ToJson();
        return (Tuple<Cipher_TItem, ErrorResponse>)(object)VesselsRequests.UpdateVessel((OriginalObject as Vessel)?.Id, vesRequest);
    }

    /// <summary>
    /// Method to get the appropriate object-card to the selected type
    /// </summary>
    /// <returns></returns>
    private RenderFragment RenderChosenCard() =>
    @<div>
        @if (typeof(Cipher_TItem) == typeof(Unit))
        {
            <CipherUnitCard Title="" WithCard="false" @ref="@unitCard" ChangeObject="ChangeUrl"
                            ChosenObject="@(ChosenObject as Unit)" SetMode="FormMode.Update" />
        }
        else if (typeof(Cipher_TItem) == typeof(Category))
        {
            <CipherCategoryCard Title="" WithCard="false" @ref="@catCard" ChangeObject="ChangeUrl"
                                ChosenObject="@(ChosenObject as Category)" SetMode="FormMode.Update" />
        }
        else if (typeof(Cipher_TItem) == typeof(Vessel))
        {
            <CipherVesselCard Title="" WithCard="false" @ref="@vesCard" ChangeObject="ChangeUrl"
                                ChosenObject="@(ChosenObject as Vessel)" SetMode="FormMode.Update" />
        }
    </div>;
}