@inherits RadzenStack

@code {
    /// <summary>
    /// Text that appears upon hovering on picture.
    /// </summary>
    [Parameter]
    public string Title { get; set; } = "חזרה למסך הבית";

    /// <summary>
    /// Path to the picture of ComingSoon component.
    /// </summary>
    [Parameter]
    public string PicPath { get; set; } = "Images/ComingSoon2.jfif";
}

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
    <div class="@Constants.Styles.ComingSoon">
        <a href="@CipherNavLinks.Home.Href" title="@Title">
            <div class="@Constants.Styles.ComingSoonImage">
                <CipherLogo LogoPath="@PicPath" Class="@Constants.Styles.Pics.ComingSoon" />
                <div class="@Constants.Styles.ComingSoonOverlay">@Title</div>
            </div>
        </a>
    </div>
</RadzenStack>
