@code {
    [Parameter]
    public string BackgroundColor { get; set; } = "#AC6E35";

    [Parameter]
    public string CardBorderRadius { get; set; } = "5px";

    [Parameter]
    public string LogoBorderRadius { get; set; } = "50px";

    [Parameter]
    public string Padding { get; set; } = "0px";

    [Parameter]
    public string Width { get; set; } = "100%";

    [Parameter]
    public string LogoSize { get; set; } = "50%";

    [Parameter]
    public string Title { get; set; } = "חזרה למסך הבית";

    [Parameter]
    public string PicPath { get; set; } = "Images/ComingSoon2.jfif";
}

<style>
    .image-container {
        position: relative;
        display: flex;
        justify-content: center;
    }

        .image-container img {
            filter: none;
        }

        .image-container:hover img {
            filter: blur(5px); /* Adjust the blur amount as needed */
            transition: filter 0.3s ease;
        }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 50px;
        border-radius: 5px;
        font-weight: bold;
        font-size: large;
        display: none;
        color: var(--rz-primary-darker)
    }

    .image-container:hover .overlay {
        display: block;
    }
</style>

<div style="@($"background-color:{BackgroundColor}; border-radius:{CardBorderRadius}; padding: {Padding}; width:{Width}")">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
        <a href="@CipherNavLinks.Home.Href" title="@Title">
            <div class="image-container">
                <CipherLogo LogoPath="@PicPath" Height="@LogoSize" Width="@LogoSize" BorderRadius="@LogoBorderRadius"></CipherLogo>
                <div class="overlay">@Title</div>
            </div>
        </a>
    </RadzenStack>
</div>
