@using System.Text
@using System.Reflection

@typeparam Cipher_TItem

@inject ICipherInfo _db
@inherits RadzenDataGrid<Cipher_TItem>

@code {
    [Parameter]
    public List<Tuple<string, string>> ColumnNames { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment CustomColumns { get; set; }

    [Parameter]
    public IEnumerable<Cipher_TItem> DataSource { get; set; }

    [Parameter]
    public Func<Task<IEnumerable<Cipher_TItem>>> FetchDataFunc { get; set; } = null;

    [Parameter]
    public FilterMode GridFilterMode { get; set; } = FilterMode.SimpleWithMenu;

    [Parameter]
    public bool AllowFilter { get; set; } = false;

    [Parameter]
    public bool AllowGroup { get; set; } = false;

    [Parameter]
    public bool AllowSort { get; set; } = true;

    [Parameter]
    public bool AllowColumnPick { get; set; } = false;

    [Parameter]
    public int RowsPerPage { get; set; } = Constants.RowsPerPage;

    [Parameter]
    public bool WithCustomColumns { get; set; } = false;

    [Parameter]
    public bool WithTotalFooter { get; set; } = true;

    [Parameter]
    public string SetColumnWidth { get; set; } = "200px";

    [Parameter]
    public Dictionary<string, int> ColumnsOrder { get; set; }

    [Parameter]
    public Action<DataGridRenderEventArgs<Cipher_TItem>> RenderFunc { get; set; }

    RadzenDataGrid<Cipher_TItem> CustomDataGrid;

    DataGridEditMode editMode = DataGridEditMode.Single;

    Cipher_TItem originalRow;

    // dynamic row
    Dictionary<string, object> dynamicRow = new Dictionary<string, object>();
    DateTime dynamicDate;

    protected override async Task OnInitializedAsync()
    {
        if (FetchDataFunc is null)
        {
            Data = DataSource;
            ColumnNames = HebrewDictionary.Headers;
        }
        else
        {
            IEnumerable<Cipher_TItem> ienum_data = await FetchDataFunc();
            DataSource = ienum_data.ToList();
        }
    }

    async Task EditRow(Cipher_TItem row)
    {
        foreach (PropertyInfo prop in row.GetType().GetProperties())
        {
            string name = prop.Name;
            PropertyInfo valueProperty = row.GetType().GetProperty(name);
            if (valueProperty != null)
            {
                object value = valueProperty.GetValue(row);
                if (value != null)
                {
                    dynamicRow.Add(name, value);
                }
            }
        }
        dynamicDate = Convert.ToDateTime(dynamicRow["Date"]);

        await CustomDataGrid.EditRow(row);
    }

    void CancelEdit(Cipher_TItem row)
    {
        CustomDataGrid.CancelEditRow(row);

        if (!row.Equals(originalRow))
        {
            row = originalRow;
        }
    }

    async Task SaveRow(Cipher_TItem row)
    {
        await CustomDataGrid.UpdateRow(row);
    }

    int? GetOrder(string columnName)
    {
        if (ColumnsOrder is null)
        {
            return null;
        }
        else
        {
            if (ColumnsOrder.ContainsKey(columnName))
            {
                return ColumnsOrder[columnName];
            }
            else
            {
                return null;
            }
        }
    }
}

@if (DataSource is null)
{
    <p><em>טוען...</em></p>
}
<RadzenDataGrid @ref="CustomDataGrid"
                TItem="Cipher_TItem"
                Data="@DataSource"
                Render="@RenderFunc"
                FilterMode="@GridFilterMode"
                AllowFiltering="@AllowFilter"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowColumnResize="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                AllowPaging="true"
                PageSize="@RowsPerPage"
                AllowSorting="@AllowSort"
                SelectionMode="DataGridSelectionMode.Single"
                AllowColumnPicking="@AllowColumnPick"
                AllGroupsExpanded="@AllGroupsExpanded"
                AllowGrouping="@AllowGroup"
                HideGroupedColumn="@HideGroupedColumn"
                Density="@Density.Compact"
                Style="text-align: right"
                AndOperatorText="וגם"
                OrOperatorText="או"
                ClearFilterText="ביטול"
                IsNullText="חסר"
                IsNotNullText="לא חסר"
                StartsWithText="מתחיל ב"
                EndsWithText="מסתיים ב"
                IsEmptyText="ריק"
                IsNotEmptyText="לא ריק"
                ContainsText="מכיל"
                DoesNotContainText="לא מכיל"
                EqualsText="זהה ל"
                NotEqualsText="שונה מ"
                LessThanOrEqualsText="קטן / שווה ל"
                LessThanText="קטן מ"
                GreaterThanOrEqualsText="גדול / שווה ל"
                GreaterThanText="גדול מ"
                AllColumnsText="הכל"
                FilterText="סינון"
                ApplyFilterText="סינון"
                ColumnsShowingText="עמודות מוצגות"
                GroupPanelText="גרור עמודה לכאן כדי לקבץ את הנתונים בהתאם">

    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px;
            text-align: center; margin: 2rem;">לא נמצאו נתונים</p>
    </EmptyTemplate>
    <Columns>
        @* IT PAGE USES CUSTOMIZED COLUMNS, RATHER THAN THOSE CREATED BY DEFAULT *@
        @if (!WithCustomColumns)
        {
            @foreach (Tuple<string, string> col in ColumnNames)
            {
                @if (col.Item2 == "תאריך")
                {
                    <RadzenDataGridColumn TItem="Cipher_TItem" Property="@col.Item1" Title="@col.Item2" Width="@SetColumnWidth"
                                          SortOrder="SortOrder.Descending" style="text-align:center" OrderIndex="@GetOrder(col.Item1)" />
                }
                // first column
                else if (ColumnNames.IndexOf(col) == 0 && !(typeof(Cipher_TItem).GetProperty(col.Item1) is null) && WithTotalFooter)
                {
                    <RadzenDataGridColumn TItem="Cipher_TItem" Property="@col.Item1" Title="@col.Item2" Width="@SetColumnWidth" OrderIndex="@GetOrder(col.Item1)">
                        <FooterTemplate>
                            סה"כ שורות: <b>@CustomDataGrid.View.Count() </b>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                }
                else if (!(typeof(Cipher_TItem).GetProperty(col.Item1) is null))
                {
                    @if (typeof(decimal).IsAssignableFrom(typeof(Cipher_TItem).GetProperty(col.Item1).PropertyType))
                {
                        @if (WithTotalFooter)
                        {
                            <RadzenDataGridColumn TItem="Cipher_TItem" Property="@col.Item1" Title="@col.Item2" Width="@SetColumnWidth" OrderIndex="@GetOrder(col.Item1)">
                                <Template Context="item">
                                    @string.Format("{0:0.00;0.00-}", item.GetType().GetProperty(col.Item1).GetValue(item, null))
                                </Template>
                                <EditTemplate Context="item">
                                    <RadzenDropDown @bind-Value="@dynamicRow[col.Item1]" Data="@DataSource" TextProperty="CompanyName" ValueProperty="@col.Item1"
                                    Style="width:100%; text-align: right" />
                                </EditTemplate>
                                <FooterTemplate>
                                    @if (DataSource != null)
                                    {
                                        @string.Format("{0:0.00;0.00-}", DataSource.Sum(s => (decimal?)s.GetType().GetProperty(col.Item1)?.GetValue(s)))
                                    }
                            </FooterTemplate>
                            </RadzenDataGridColumn>
                        }
                        else
                        {
                            <RadzenDataGridColumn TItem="Cipher_TItem" Property="@col.Item1" Title="@col.Item2" Width="@SetColumnWidth" OrderIndex="@GetOrder(col.Item1)">
                                <Template Context="item">
                                    @string.Format("{0:0.00;0.00-}", item.GetType().GetProperty(col.Item1).GetValue(item, null))
                                </Template>
                                <EditTemplate Context="item">
                                    <RadzenDropDown @bind-Value="@dynamicRow[col.Item1]" Data="@DataSource" TextProperty="CompanyName" ValueProperty="@col.Item1"
                                                    Style="width:100%; text-align: right" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                        }
                    }
                    else
                    {
                        <RadzenDataGridColumn TItem="Cipher_TItem" Property="@col.Item1" Title="@col.Item2" Width="200px" OrderIndex="@GetOrder(col.Item1)" />
                    }
                }
            }
        }
        else
        {
            @CustomColumns
        }
    </Columns>
</RadzenDataGrid>