@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.Reflection;

@inherits CipherComponentCard

@code {
    private Type? _OriginalType;

    [Parameter]
    public bool WithParameters { get; set; } = false;

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public bool WithFilterButton { get; set; } = true;

    /// <summary>
    /// Help text for save-button.
    /// </summary>
    [Parameter]
    public string ActivateFilterText { get; set; } = "הפעלת סינון";

    /// <summary>
    /// Json request that will be sent to the API server.
    /// </summary>
    [Parameter]
    public string JsonRequest { get; set; } = string.Empty;

    [Parameter]
    public List<ReportParameter> AvailableParameters { get; set; } = new();

    /// <summary>
    /// All chosen conditions
    /// </summary>
    [Parameter]
    public IGroupedBooleanCondition ChosenCondition { get; set; } = Config.GroupedBooleanCondition();

    [Parameter]
    public Type? InitialType { get; set; }

    [Parameter]
    public EventCallback ValueChanged { get; set; }

    [Parameter]
    public EventCallback<IGroupedBooleanCondition> ChosenConditionChanged { get; set; }

    /// <summary>
    /// Function that occurs upon saving the conditions
    /// </summary>
    [Parameter]
    public EventCallback<object> OnFilter { get; set; }

    private RadzenDataFilter<CipherField> dataFilter = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (string.IsNullOrEmpty(Title)) Title = "תנאים נבחרים";

        if (firstRender || InitialType != _OriginalType) await RebuildFilter();
        _OriginalType = InitialType;
    }

    public CompositeFilterDescriptor AddBooleanConditionFilter(IBooleanCondition? condition)
    {
        if (condition is null) return new();

        string? newName = condition.Attribute;
        string newValue = condition.Value ?? " ";
        string newRelation = Translator.GetTranslation(condition?.AttributeRelation?.ToString() ?? string.Empty) ?? " ";
        string newOperator = condition?.Operator.ToString() ?? " ";
        
        FilterType newFilterType = FilterType.Text;
        if (DateTime.TryParse(newValue, out _)) newFilterType = FilterType.Date;
        if (double.TryParse(newValue, out _)) newFilterType = FilterType.Number;
        if (bool.TryParse(newValue, out _)) newFilterType = FilterType.Condition;

        bool newIsList = false;

        string filterValue = $"{newName}###{newValue}###{newRelation}###{newIsList}###{newOperator}###{newFilterType}";

        return new()
                {
                    FilterValue = filterValue
                };
    }

    public CompositeFilterDescriptor AddGroupedBooleanConditionFilter(IGroupedBooleanCondition? condition)
    {
        if (condition is null) return new();

        CompositeFilterDescriptor new_filter = new()
        {
            LogicalFilterOperator = (condition.Operator == Operator.All) ? LogicalFilterOperator.And : LogicalFilterOperator.Or
        };

        if (condition.Conditions != null)
        {
            List<CompositeFilterDescriptor> subFilters = condition.Conditions
            .Select(subCond => subCond switch
            {
                IBooleanCondition boolCondition => AddBooleanConditionFilter(boolCondition),
                IGroupedBooleanCondition groupedCond => AddGroupedBooleanConditionFilter(groupedCond),
                _ => new CompositeFilterDescriptor()
            })
            .Where(x => x != new CompositeFilterDescriptor()).ToList();

            new_filter.Filters = subFilters;
        }

        return new_filter;
    }

    /// <summary>
    /// Filter is a Boolean condition (no sub filters)
    /// </summary>
    public IBooleanCondition SetBooleanCondition(CompositeFilterDescriptor filter)
    {
        IBooleanCondition condition = Config.BooleanCondition();
        condition.Attribute = filter.Property;

        if (filter.FilterValue != null)
        {
            var ParsedFilter = ParseFilter(filter);

            condition.Attribute = ParsedFilter.Name;
            condition.Value = ParsedFilter.Value;
            condition.Operator = ParsedFilter.Operator;

            string? filterRelation = ParsedFilter.Relation;

            if (filterRelation != null)
            {
                if (CipherField.RelationTranslationMapping(WithParameters).TryGetValue(filterRelation, out var relation))
                {
                    condition.AttributeRelation = relation;
                }
            }
        }

        return condition;
    }

    /// <summary>
    /// Filter is a Grouped Boolean condition (no sub filters)
    /// </summary>
    public IGroupedBooleanCondition SetGroupedBooleanCondition(CompositeFilterDescriptor filter)
    {
        IGroupedBooleanCondition condition = Config.GroupedBooleanCondition();

        condition.Operator = filter.LogicalFilterOperator == LogicalFilterOperator.And ? Operator.All : Operator.Any;

        List<ICondition> conditions = new();

        if (filter.Filters != null)
        {
            foreach (var sub_filter in filter.Filters)
            {
                conditions.Add(sub_filter.Filters is null ? SetBooleanCondition(sub_filter) : SetGroupedBooleanCondition(sub_filter));
            }
        }

        condition.Conditions = conditions;
        return condition;
    }

    public async Task RebuildFilter(IQueryable<CipherField>? fields = null)
    {
        await Clear();

        dataFilter.LogicalFilterOperator = (ChosenCondition.Operator == Operator.All) ?
        LogicalFilterOperator.And : LogicalFilterOperator.Or;

        foreach (var condition in ChosenCondition.Conditions)
        {
            if (condition is IBooleanCondition)
            {
                await dataFilter.AddFilter(AddBooleanConditionFilter(condition as IBooleanCondition));
            }
            else if (condition is IGroupedBooleanCondition)
            {
                await dataFilter.AddFilter(AddGroupedBooleanConditionFilter(condition as IGroupedBooleanCondition));
            }
        }

        StateHasChanged();
    }

    public void BuildChosenCondition()
    {
        List<ICondition> conditions = new();

        foreach (var filter in dataFilter.Filters)
        {
            if (filter.Filters is null)
            {
                conditions.Add(SetBooleanCondition(filter));
            }
            else
            {
                conditions.Add(SetGroupedBooleanCondition(filter));
            }
        }

        ChosenCondition.Conditions = conditions;
    }

    public async Task ParamsChanged(IQueryable<CipherField>? fields = null)
    {
        BuildChosenCondition();
        await ChosenConditionChanged.InvokeAsync(ChosenCondition); // Trigger change event
        await ValueChanged.InvokeAsync();
        SetJson();
    }

    public void SetJson()
    {
        IGroupedBooleanCondition copyCondition = Config.GroupedBooleanCondition();
        copyCondition.Conditions = ChosenCondition.Conditions.Select(x => (x is IBooleanCondition singleX) ? 
        singleX.Export() : x).ToList();
        copyCondition.Operator = ChosenCondition.Operator;

        JsonRequest = copyCondition.ToJson();
    }

    /// <summary>
    /// Clears all fields in the filter, and resets set-condition and json
    /// </summary>
    public async Task Clear()
    {
        ChosenCondition = Config.GroupedBooleanCondition();
        SetJson();
        await dataFilter.ClearFilters();
    }

    private static string Translate(string key) => Translator.GetTranslation(key);

    ///  <summary>
    /// Method to control the including all data of a filter within its value
    /// </summary>
    /// <param name="prop">a filter description which will contain all the data</param>
    /// <param name="update_name">should the name be updated?</param>
    /// <param name="update_value">should the value be updated?</param>
    /// <param name="update_relation">should the relation be updated?</param>
    /// <param name="changeParams">should activate changed-params function after this method?</param>
    /// <param name="update_isList">should update isList?</param>
    /// <param name="update_operator">should update operator?</param>
    /// <param name="name">value to be set as name upon update</param>
    /// <param name="value">value to be set as value upon update</param>
    /// <param name="relation">value to be set as relation upon update</param>
    /// <param name="isList">value to be set as isList upon update</param>
    /// <param name="_operator">value to be set as operator upon update</param>
    private async void ChangeProperty(CompositeFilterDescriptor prop,
    bool update_name = false, bool update_value = false, bool update_relation = false,
    bool changeParams = true, bool update_isList = false, bool update_operator = false, bool update_type = false,
    string? name = null, string? value = null, string? relation = null, bool isList = false, Operator? _operator = null,
    FilterType filterType = FilterType.Other)
    {
        var ParsedFilter = ParseFilter(prop);

        string? newName = update_name ? name : ParsedFilter.Name;
        string? newRel = update_relation ? relation : ParsedFilter.Relation;
        string? newVal = update_value ? value?.Replace("#","") : ParsedFilter.Value;
        bool newIsList = update_isList ? isList : ParsedFilter.IsList;
        Operator? newOperator = update_operator ? _operator : ParsedFilter.Operator;
        FilterType newType = update_type ? filterType : ParsedFilter.Type;

        // make value initially null / 0 / false / now
        if (string.IsNullOrEmpty(newVal)) newVal = GetDefaultValue(newType);
        // make value null if checking for IsNull or something that doesn't require a value
        if (IsCheckingNullOrEmpty(newRel)) newVal = null;

        prop.FilterValue = $"{newName}###{newVal ?? " "}###{newRel ?? " "}###{newIsList}###{newOperator?.ToString() ?? " "}###{newType}";

        if (changeParams) await ParamsChanged();
    }

    ///  <summary>
    /// Parsing filter according to a scheme of "{item}###{item2}..."
    /// </summary>
    private (string? Name, string? Value, string? Relation, bool IsList, Operator Operator, FilterType Type)
    ParseFilter(CompositeFilterDescriptor filter)
    {
        var parts = filter.FilterValue?.ToString()?.Split("###");
        return (
        parts?.ElementAtOrDefault(0)?.Trim(),
        parts?.ElementAtOrDefault(1)?.Trim(),
        parts?.ElementAtOrDefault(2)?.Trim(),
        Convert.ToBoolean(parts?.ElementAtOrDefault(3)),
        parts?.ElementAtOrDefault(4) == "All" ? Operator.All : Operator.Any,
        Enum.TryParse(parts?.ElementAtOrDefault(5), out FilterType type) ? type : FilterType.Other
    );
    }

    private string? GetDefaultValue(FilterType type)
    {
        if (type == FilterType.Text) return null;
        if (type == FilterType.Date) return DateTime.Now.ToString();
        if (type == FilterType.Condition) return false.ToString();
        if (type == FilterType.Number) return "0";
        return null;
    }

    private bool IsCheckingNullOrEmpty(string? rel)
    {
        var operators = new List<string> {
            nameof(AttributeRelation.IsNull),
            nameof(AttributeRelation.IsNotNull),
            nameof(AttributeRelation.IsEmpty),
            nameof(AttributeRelation.IsNotEmpty),
            };
        return operators.Select(x => Translate(x)).Contains(rel);
    }

    private bool IsCheckingNullOrEmpty(CompositeFilterDescriptor prop) =>
        IsCheckingNullOrEmpty(ParseFilter(prop).Relation);

    private string FixedWidth() =>
        $"width:{Constants.StandardWidth}; min-width:{Constants.StandardWidth}; max-width:{Constants.StandardWidth}";

    private RenderFragment? FilterBtn()
        => (!Disabled && WithFilterButton) ?
    @<CipherButton Icon="@Icons.SearchAndFilter.filter_alt" Variant="Variant.Outlined"
                  Click="@(async () => {
                      await ParamsChanged(); 
                      await OnFilter.InvokeAsync();
                  })" HelpText="@ActivateFilterText" /> : null;

    private RenderFragment? JsonBox()
        => Disabled ? null : @<CipherJsonCheck JsonValue="@JsonRequest" Visible="@Constants.CheckJsons" />;

    private RenderFragment AttributeDropDown(CompositeFilterDescriptor context)
    {
        return
    @<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"
                      AlignItems="AlignItems.Center">
        <div style="width:100%">
            <CipherPathChooser Path="@ParseFilter(context).Name" Disabled="@Disabled"
            InitialType="@InitialType"
                               PathChanged="@(value => {
                CipherField field = value.Item2;
                ChangeProperty(context, update_name:true, update_value: true, update_isList: true, update_type: true, update_operator:true,
                    update_relation: true, name: value.Item1, isList: value.Item3,  
                    filterType: field.GetFilterType());})" />
        </div>
        @RelationDropDown(context)
        @if (!IsCheckingNullOrEmpty(context))
        {
            @ValueFiller(context)
        }
    </RadzenStack>
    ;
    }

    private RenderFragment? RelationDropDown(CompositeFilterDescriptor context)
    {
        FilterType filterType = ParseFilter(context).Type;
        List<string> filters = new();

        var options = CipherField.FilterAttributeRelations(WithParameters);

        if (options.ContainsKey(filterType)) filters = options[filterType];

        filters = filters.Select(x => Translate(x)).ToList();

        // SET DEFAULT VALUE
        string defaultValue = ParseFilter(context).Relation ?? Translate(nameof(AttributeRelation.Equals));

        if (!filters.Any()) return null;

        return
    @<RadzenDropDown TValue=string Data="@filters" Disabled="@Disabled"
        Value="@defaultValue" Style="@($"min-width:{Constants.StandardWidth}; max-width:{Constants.StandardWidth}")"
                    Change="@(relation => ChangeProperty(context, update_relation:true, relation: relation.ToString()))" />
        ;
    }

    private RenderFragment NumberFiller(CompositeFilterDescriptor filter)
    {
        string val = ParseFilter(filter).Value ?? string.Empty;
        if (string.IsNullOrEmpty(val)) val = "0";
        return
        @<RadzenNumeric TValue="decimal" Disabled="@Disabled" Value="@(decimal.Parse(val))" Style="@($"width:100%; min-width:{Constants.StandardWidth}")"
                   ValueChanged="@(value => ChangeProperty(filter, update_value:true, value: value.ToString()))" />
        ;
    }

    private RenderFragment DateFiller(CompositeFilterDescriptor filter)
    {
        string val = ParseFilter(filter).Value ?? string.Empty;
        DateTime? date = DateTime.TryParse(val, out _) ? DateTime.Parse(val) : null;
        return
        @<RadzenDatePicker TValue="DateTime" Value="@date" Disabled="@Disabled" Style="@($"width:100%; min-width:{Constants.StandardWidth}")"
        ValueChanged="@(value => ChangeProperty(filter, update_value:true, value: value.ToString()))" ShowTime="true" ShowTimeOkButton="true" />
    ;
    }

    private RenderFragment ConditionFiller(CompositeFilterDescriptor filter)
    {
        string val = ParseFilter(filter).Value ?? string.Empty;
        if (string.IsNullOrEmpty(val)) val = false.ToString();

        return
        @<RadzenToggleButton Value="@(bool.Parse(val))" Style="display:flex; justify-content:end"
                        ValueChanged="@(value => ChangeProperty(filter, update_value:true, value: value.ToString()))"
                        Text="@(val == false.ToString() ? "לא" : "כן" )"
                        ButtonStyle="ButtonStyle.Danger" Disabled="@Disabled"
                        ToggleButtonStyle="ButtonStyle.Success" />
        ;
    }

    private RenderFragment TextFiller(CompositeFilterDescriptor filter)
    {
        return
    @<RadzenTextBox Disabled="@Disabled" Style="@($"width:100%; min-width:{Constants.StandardWidth}")"
                   Value="@ParseFilter(filter).Value"
        ValueChanged="@(value => ChangeProperty(filter, update_value:true,value:value))" />
    ;
    }

    private RenderFragment ParameterFiller(CompositeFilterDescriptor filter)
    {
        // Only parameters of appropriate type are available
        Type? currentType = CipherField.GetPathType(InitialType, ParseFilter(filter).Name);

        var specificAvailableParameters = AvailableParameters.Where(x => x.ParamType?.FieldType == currentType).ToList();

        string? value = ParseFilter(filter).Value;
        ReportParameter? param = specificAvailableParameters.Where(x => x.Name == value).FirstOrDefault();

        return
    @<RadzenDropDown TValue="ReportParameter" Disabled="@Disabled" Style="@($"width:100%; min-width:{Constants.StandardWidth}")"
                    Value="@param" Data="@specificAvailableParameters" TextProperty="Name"
                   ValueChanged="@(value => ChangeProperty(filter, update_value:true,value: value?.Name))" 
                   AllowClear=true/>
        ;
    }

    private RenderFragment? ValueFiller(CompositeFilterDescriptor filter)
    {
        FilterType filterType = ParseFilter(filter).Type;
        string? relation = ParseFilter(filter).Relation;

        if (relation != null)
        {
            if (WithParameters && CipherField.ParameterAttributeRelations.Any(x=>Translator.GetTranslation(x.ToString()) == relation)) 
            return ParameterFiller(filter);
        }

        if (filterType == FilterType.Number) return NumberFiller(filter);
        if (filterType == FilterType.Date) return DateFiller(filter);
        if (filterType == FilterType.Condition) return ConditionFiller(filter);
        if (filterType == FilterType.Text) return TextFiller(filter);

        return null;
    }

    private RenderFragment? OperatorDropDown(CompositeFilterDescriptor filter)
    {
        var ParsedFilter = ParseFilter(filter);

        if (!ParsedFilter.IsList || ParsedFilter.Type == FilterType.Other) return null;

        return
    @<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right"
                      AlignItems="AlignItems.Center">
        <RadzenIcon Icon="@Icons.Arrows.Circled.arrow_circle_left" IconColor="@Colors.PrimaryDark" />
        <RadzenDropDown Style="@FixedWidth()" TValue="Operator" Disabled="@Disabled"
                        Value="@(ParseFilter(filter).Operator)"
                        ValueChanged="@(value => ChangeProperty(filter, update_operator:true, _operator:value))"
                        Data="@(new List<Operator>() {Operator.Any, Operator.All})" Placeholder="אופרטור">
            <ValueTemplate Context="operator_value_context">
                @if (operator_value_context == Operator.All)
                {
                    @(
                        "כל האיברים"
                            )
                }
                else
                {
                    @(
                        "לפחות אחד"
                            )
                }
            </ValueTemplate>
            <Template Context="operator_context">
                @if (operator_context == Operator.All)
                {
                    @(
                        "כל האיברים"
                            )
                }
                else
                {
                    @(
                        "לפחות אחד"
                            )
                }
            </Template>
        </RadzenDropDown>
    </RadzenStack>;
    }
}

<CipherComponentCard Title="@Title" Visible="@Visible">
    <Buttons>
        @FilterBtn()
    </Buttons>
    <ChildContent>
        <RadzenStack Orientation="Orientation.Vertical" Gap="10px">
            <RadzenDataFilter TItem="CipherField" @ref=dataFilter Data="@(new List<CipherField>())"
                              ViewChanged="@(async fields => {await ParamsChanged(fields);})" Auto=true
                              RemoveFilterText="@Translate("RemoveFilter")"
                              AddFilterText="@Translate("AddFilter")"
                              AddFilterGroupText="@Translate("AddFilterGroup")"
                              ClearFilterText="@Translate("ClearFilter")"
                              ApplyFilterText="@Translate("ApplyFilter")"
                              FilterText="@Translate("Filter")"
                              AndOperatorText="@Translate("AndOperator")"
                              OrOperatorText="@Translate("OrOperator")">
                <Properties>
                    <RadzenDataFilterProperty TItem="CipherField" Property="" Title="">
                        <FilterTemplate>
                            @if (context != null)
                            {
                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right"
                                             AlignItems="AlignItems.Center" Style="width:100%">
                                    @AttributeDropDown(context)
                                    @OperatorDropDown(context)
                                </RadzenStack>
                            }
                        </FilterTemplate>
                    </RadzenDataFilterProperty>
                </Properties>
            </RadzenDataFilter>
            @JsonBox()
        </RadzenStack>
    </ChildContent>
</CipherComponentCard>