@inherits CipherComponentCard

@code {
    [Parameter]
    public string RowWidth { get; set; } = "width: 400px";

    [Parameter]
    public string RowWidth2 { get; set; } = "400px";

    [Parameter]
    public bool ReadOnly { get; set; } = false;

    public class Analysis
    {
        public int Id { get; set; }
        public string Type { get; set; }
        public decimal Value { get; set; }
        public DateTime EventDate { get; set; }
    }

    List<Analysis> analysis = new();
}

<CipherComponentCard Title="@Title" WithCard="@WithCard">
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="פרטים">
                <RadzenRow>
                <RadzenColumn>
                        @* -- System ID -- *@
                        <CipherAutoComplete Label="מספר סידורי" Icon="@Icons.Id" Style="@RowWidth2" Disabled="@ReadOnly" />

                        @* -- SYSTEM DESCRIPTION -- *@
                        <CipherAutoComplete Label="תיאור" Icon="@Icons.Description" Style="@RowWidth2" Disabled="@ReadOnly" />

                        @* -- FATHER SYSTEM NAME -- *@
                        <CipherAutoComplete Label="נמצא במיקום" Icon="@Icons.Location_Initial" Style="@RowWidth2" Disabled="@ReadOnly" />

                        @* -- OPEN DATE -- *@
                        <CipherDatePicker Label="תאריך פתיחה" Disabled="@ReadOnly" Width="@RowWidth2"/>

                        @* -- ZERO DATE -- *@
                        <CipherDatePicker Label="תאריך איפוס" Disabled="@ReadOnly" Width="@RowWidth2" />

                        @* -- RESTRICTIONS -- *@
                        <CipherAutoComplete Label="מגבלות" Icon="@Icons.Restriction" Style="@RowWidth2" Disabled="@ReadOnly" />

                </RadzenColumn>
                <RadzenColumn>
                        @* -- SYSTEM NAME -- *@
                        <CipherAutoComplete Label="שם" Icon="@Icons.Location" Style="@RowWidth2" Disabled="@ReadOnly" />

                        @* -- RESPONSIBLE WORKER -- *@
                        <CipherAutoComplete Label="עובד אחראי" Icon="@Icons.Account" Style="@RowWidth2" Disabled="@ReadOnly" />

                        @* -- UNIT -- *@
                        <CipherAutoComplete Label="יחידה" Icon="@Icons.Unit" Style="@RowWidth2" Disabled="@ReadOnly" />

                        @* -- EXPIRATION DATE -- *@
                        <CipherDatePicker Label="תאריך תפוגה" Disabled="@ReadOnly" Width="@RowWidth2" />

                        @* -- LEFTOVERS -- *@
                        <CipherFormRow Label="שאריות" Icon="@Icons.Date" Style="position:fixed">
                            <RadzenNumeric TValue="decimal" Style="@($"{Constants.textStyle}; {RowWidth}")" Disabled="@ReadOnly" />
                        </CipherFormRow>

                        @* -- COMMENTS -- *@
                        <CipherFormRow Label="הערות" Icon="@Icons.Comment" Style="position:fixed">
                            <RadzenTextBox Placeholder="הערות" Style="@($"{Constants.textStyle}; {RowWidth}")" Disabled="@ReadOnly" />
                        </CipherFormRow>
                </RadzenColumn>
                </RadzenRow>
        </RadzenTabsItem>

                    <RadzenTabsItem Text="תעודות">
                <CipherPackagesTable Title="" WithCard="false" />
            </RadzenTabsItem>
            
            <RadzenTabsItem Text="כלים">
                <CipherPackagesTable Title="" WithCard="false" />
            </RadzenTabsItem>

            <RadzenTabsItem Text="מערכות">
                <div style="border-radius: 5px">
                <CipherPackagesTable Title="" WithCard="false" />
                </div>
            </RadzenTabsItem>

            <RadzenTabsItem Text="תחומים">
                <CipherPackagesTable Title="" WithCard="false" />
            </RadzenTabsItem>

            <RadzenTabsItem Text="תנועות">
                <CipherEventsTable Title="" WithCard="false" />
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

</CipherComponentCard>